@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f8f9;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 47.14286rem;
  margin: 0 auto;
  padding: 3.57143em;
}

.content {
  padding: 3.57143em;
  border-radius: 0.71429em;
  -webkit-box-shadow: 0 2.14286em 4.28571em 0 rgba(90, 116, 148, 0.4);
          box-shadow: 0 2.14286em 4.28571em 0 rgba(90, 116, 148, 0.4);
}

.card {
  height: 19.28571rem;
  max-width: 32.85714rem;
  width: 100%;
  margin: 0 auto 3.125em;
  position: relative;
  color: #fff;
  font-size: 1.14286em;
  line-height: normal;
}

.card__side {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.9375em;
  padding: 1.875em;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
          transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  -webkit-box-shadow: 0 1.25em 3.75em 0 rgba(14, 42, 90, 0.55);
          box-shadow: 0 1.25em 3.75em 0 rgba(14, 42, 90, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card__side.front {
  background-color: #232323;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__side.back {
  background-color: #232323;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
          transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
  z-index: 2;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 6.875em;
}

.card__side.back:after {
  content: "";
  background-color: rgba(0, 0, 19, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 1.875em;
  height: 3.125em;
}

.card.active .front {
  -webkit-transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
          transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
}

.card.active .back {
  -webkit-transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
          transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__col.holder {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card__col.holder .card__result {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18.75em;
}

.card__col.expires .card__result > span {
  width: 1.875em;
  display: inline-block;
}

.card__number {
  font-size: 1.75em;
  width: 100%;
}

.card__number > span {
  width: calc(100% / 19);
  display: inline-block;
}

.card__label {
  font-size: 0.8125em;
  line-height: normal;
  margin-bottom: 0.38462em;
}

.card__result {
  font-size: 1em;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.card__cvv {
  background-color: #fff;
  color: #000;
  padding: 1em;
  display: block;
  width: 100%;
  text-align: right;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.42857em;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1.42857em;
}

.form__block:last-child {
  margin-right: 0;
}

.form__input {
  font-size: 1.14286em;
  padding: 0.9375em;
  border-radius: 0.4375em;
  border: 0.0625em solid #d4ddde;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__input:hover {
  border-color: #0080ff;
}

.form__input:focus {
  border-color: #d4ddde;
  -webkit-box-shadow: 0px 0.125em 0.8125em 0 rgba(200, 208, 216, 0.78);
          box-shadow: 0px 0.125em 0.8125em 0 rgba(200, 208, 216, 0.78);
}

.form__input::-webkit-input-placeholder {
  color: #232323;
}

.form__input:-ms-input-placeholder {
  color: #232323;
}

.form__input::-ms-input-placeholder {
  color: #232323;
}

.form__input::placeholder {
  color: #232323;
}

.form__input--select {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-size: 0.75em;
  background-position: calc(100% - 15px) center;
  padding-right: 1.875em;
}

.form__submit {
  font-family: inherit;
  font-size: 0.92857em;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  color: #fff;
  border: none;
  padding: 1.4em;
  border-radius: 0.53846em;
  background-image: -webkit-gradient(linear, left top, right top, from(#4da6ff), color-stop(50%, #0080ff));
  background-image: linear-gradient(to right, #4da6ff 0%, #0080ff 50%);
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}

.form__submit:hover, .form__submit:focus {
  -webkit-box-shadow: 0px 8px 16px rgba(0, 128, 255, 0.3);
          box-shadow: 0px 8px 16px rgba(0, 128, 255, 0.3);
}

.chip {
  height: 2.78571rem;
  width: 3.42857rem;
  background-color: silver;
  border-radius: 0.3125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.chip .hor {
  height: calc(100% / 3);
  border-top: 0.07143rem solid #232323;
}

.chip .hor:first-child {
  border-top: none;
}

.chip .ver {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: calc(100% / 3);
  background-color: silver;
}

.chip .ver:before {
  content: "";
  width: 0.07143rem;
  background-color: #232323;
  position: absolute;
  height: 100%;
  left: 0;
}

.chip .ver:after {
  content: "";
  width: 0.07143rem;
  background-color: #232323;
  position: absolute;
  height: calc(100% - (100% / 3));
  right: 0;
  bottom: 0;
}

.logo > img {
  max-height: 2.5em;
  width: auto;
}

/* Responsive */
@media (max-width: 767px) {
  .wrapper {
    padding: 2.14286em;
    max-width: 34.64286rem;
  }
  .content {
    padding: 2.14286em;
  }
  .card {
    height: 17.85714rem;
    max-width: 26.07143rem;
    margin-bottom: 1.875em;
  }
  .card__side {
    padding: 1.5625em;
  }
  .card__number {
    font-size: 1.375em;
  }
  .card__result {
    font-size: 0.875em;
  }
  .card__cvv {
    font-size: 0.875em;
  }
  .form__input {
    font-size: 1rem;
  }
  .form__submit {
    font-size: 0.78571rem;
  }
}

@media (max-width: 479px) {
  html,
  body {
    font-size: 12px;
  }
  .wrapper {
    width: 100%;
    max-width: 380px;
  }
  .content {
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
  .card {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */